<!-- <h1>Something went wrong. Please run the following command for show the error messages</h1>
<pre>
  npm run log
</pre>
-->

<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>

<div>Run the following command for show the error messages:</div>
<pre>npm run log</pre>
